{% extends 'blog/base.htm' %}

{% block title %}
{{ category|title}} - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="section-inner clearfix">
            <h4>All the posts under category - {{ category.name|capfirst }}</h4>
            {% for post in posts %}
                <h3 class="post-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
                </h3>
                <p class="post-info">
                   {% include 'blog/post_info.htm' %}
                </p>
            {% empty %}
                <p>There is no posts under {{ category }}</p>
            {% endfor %}
            </div>
    </div>

{% endblock %}